
 
.newsticker_wrapper {
    font: 13px/32px Arial, Helvetica, sans-serif;
    color: #24769d;  
    height: 30px;
    -moz-border-radius: 3px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), color-stop(0.5, #fff), to(#e5e6e7)); 
    background-image: -webkit-linear-gradient(left, #fff, #fff 50%, #e5e6e7); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(left, #fff, #fff 50%, #e5e6e7); /* Firefox 3.6+ */   
    background-image: -ms-linear-gradient(left, #fff, #fff 50%, #e5e6e7); /* IE 10+ */
    background-image: -o-linear-gradient(left, #fff, #fff 50%, #e5e6e7); /* Opera 11.10+ */
    
    border-style: solid;
    border-width: 1px;
    border-top-color: #b0b2b3;
    border-bottom-color: #c9cacc;    
    border-right-color: #b7b8ba;
    border-left-color: #c9cacc;
    border-radius: 3px;
    -webkit-text-size-adjust: none;
} 

.newsticker_wrapper .newsticker_title {    
    float: left;
    background: transparent url('img/list1.png') no-repeat top right;
    padding-right: 7px;
}

.newsticker_wrapper h4 {
    color: #fff;
    height: 100%;
    overflow: hidden;    
    margin: 0;
    padding: 0 6px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #4374ab;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    background-color: #87abd1; /* fallback/image non-cover color */
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#24769D), to(#42A5D4)); 
    background-image: -webkit-linear-gradient(left, #24769D, #42A5D4); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(left, #24769D, #42A5D4); /* Firefox 3.6+ */   
    background-image: -ms-linear-gradient(left, #24769D, #42A5D4); /* IE 10+ */
    background-image: -o-linear-gradient(left, #24769D, #42A5D4); /* Opera 11.10+ */
}

.newsticker {        
    margin: 0;
    padding: 0;    
}

.newsticker li {
    padding: 0 15px;
} 

.newsticker a {
    color: #538ebf;
}

.newsticker_controls {
    position: absolute;
    right: 9px;
    top: 0;
    list-style-type: none;
    list-style-image: none;    
    background-color: transparent;
    z-index: 30;
    margin: 0 0 0 10px;
}

.newsticker_controls li {
    float: left;    
    height: 30px;
    width: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.newsticker_controls .pause {
    background-image: url('img/pause.png');       
}

.newsticker_controls .resume {
    background-image: url('img/resume.png');       
}

.newsticker_controls .previous {
    background-image: url('img/previous.png');   
}

.newsticker_controls .next {
    background-image: url('img/next.png');   
}

/* Reveal */
.newsticker_style_reveal .newsticker li {
    left: 15px !important;
}

h4 {
text-transform: uppercase;

}