/***** Ribbons *******/

.tsc_ribbon_wrap {
	position: relative;
	
	text-align: center;
}

.tsc_ribbon_wrap > div {
	margin-bottom: 40px;
}

.tsc_ribbon_wrap > div:last-of-type {
	margin-bottom: 0;
}

/* Micro clearfix hack */
.tsc_ribbon_wrap:before, .tsc_ribbon_wrap:after {
	content: "";
	display: table;
}

.tsc_ribbon_wrap:after {
	clear: both;
}

.tsc_ribbon_wrap {
	*zoom: 1;
}



.tsc_ribbon_wrap .ribbon-wrap {
	position: absolute;
	z-index: 0;
	text-align: center;
	color: #fff;
	behavior: url(PIE.htc);
}

.tsc_ribbon_wrap .ribbon-wrap > span {
	display: block;
	height: 100%;
	position: relative;
	behavior: url(PIE.htc);
	-pie-watch-ancestors: 1;
}

.tsc_ribbon_wrap .ribbon-wrap > span:before, .tsc_ribbon_wrap .ribbon-wrap > span:after {
	content: '';
	position: absolute;
	z-index: -1;
}

.tsc_ribbon_wrap .ribbon-wrap:before, .tsc_ribbon_wrap .ribbon-wrap:after {
	content: '';
	position: absolute;
	z-index: -2;
}



.tsc_ribbon_wrap .left-edge.point:after {
	width: 28px;
	height: 28px;
	right: -14px;
	top: 50%;
	margin-top: -14px;
	-moz-transform-origin:    center center; -moz-transform:    rotate(45deg);
	-webkit-transform-origin: center center; -webkit-transform: rotate(45deg);
	-o-transform-origin:      center center; -o-transform:      rotate(45deg);
	-ms-transform-origin:     center center; -ms-transform:     rotate(45deg);
	transform-origin:         center center; transform:         rotate(45deg);
	-moz-box-shadow:    1px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tsc_ribbon_wrap.ie8 .left-edge.point:before, .tsc_ribbon_wrap.ie8 .left-edge.point:after {
	display: none;
	border-radius: 0;
}


.tsc_ribbon_wrap .right-edge.point {
	width: 120px;
	height: 40px;
	line-height: 40px;
	top: 20px;  
	right: -5px;
	-moz-box-shadow:    0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-border-radius:    0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius:         0 5px 0 0;
}

.tsc_ribbon_wrap.ie8 .right-edge.point {
	right: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.tsc_ribbon_wrap .right-edge.point > span {
	-moz-border-radius:    0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius:         0 5px 0 0;
}

.tsc_ribbon_wrap.ie .right-edge.point > span {
	-pie-background: none;
}

.tsc_ribbon_wrap .right-edge.point:before {
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	bottom: -5px;
	right: 0;
	-moz-transform:    rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:      rotate(45deg);
	-ms-transform:     rotate(45deg);
	transform:         rotate(45deg);
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

.tsc_ribbon_wrap .right-edge.point:after {
	width: 28px;
	height: 28px;
	left: -14px;
	top: 50%;
	margin-top: -14px;
	-moz-transform-origin:    center center; -moz-transform:    rotate(45deg);
	-webkit-transform-origin: center center; -webkit-transform: rotate(45deg);
	-o-transform-origin:      center center; -o-transform:      rotate(45deg);
	-ms-transform-origin:     center center; -ms-transform:     rotate(45deg);
	transform-origin:         center center; transform:         rotate(45deg);
	-moz-box-shadow:    1px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tsc_ribbon_wrap.ie8 .right-edge.point:before, .tsc_ribbon_wrap.ie8 .right-edge.point:after {
	display: none;
	border-radius: 0;
}


.tsc_ribbon_wrap .left-edge.fork {
	width: 120px;
	height: 40px;
	line-height: 40px;
	top: 20px;  
	left: -5px;
	-moz-box-shadow:    0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-border-radius:    5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius:         5px 0 0 0;
}

.tsc_ribbon_wrap.ie8 .left-edge.fork {
	left: 0;
	border-radius: 0;
	box-shadow: none !important;
}

.tsc_ribbon_wrap .left-edge.fork > span {
	-moz-border-radius:    5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius:         5px 0 0 0;
}

.tsc_ribbon_wrap .left-edge.fork > span:before {
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	bottom: -5px;
	left: 0;
	-moz-transform:    rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform:      rotate(-45deg);
	-ms-transform:     rotate(-45deg);
	transform:         rotate(-45deg);
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

.tsc_ribbon_wrap.ie8 .left-edge.fork > span:before {
	display: none;
}

.tsc_ribbon_wrap .left-edge.fork > span:after {
	right: -20px;
	top: 0;
	border-style: solid;
	border-width: 20px;
}

.tsc_ribbon_wrap .left-edge.fork:before {
	right: 22px;
	bottom: 5px;
	width: 80px;
	height: 20px;
	background: #666;
	-moz-transform:    rotate(-22deg) skew(18deg, 28deg);
	-webkit-transform: rotate(-22deg) skew(18deg, 28deg);
	-o-transform:      rotate(-22deg) skew(18deg, 28deg);
	-ms-transform:     rotate(-22deg) skew(18deg, 28deg);
	transform:         rotate(-22deg) skew(18deg, 28deg);
	-moz-box-shadow:    25px 8px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 25px 8px 4px rgba(0, 0, 0, 0.5);
	box-shadow:         25px 8px 4px rgba(0, 0, 0, 0.5);
}

/***** Ribbons-Logout*******/

.tsc_ribbon_wrap1 {
	position: relative;
	
	text-align: center;
}

.tsc_ribbon_wrap1 > div {
	margin-bottom: 40px;
}

.tsc_ribbon_wrap1 > div:last-of-type {
	margin-bottom: 0;
}

/* Micro clearfix hack */
.tsc_ribbon_wrap1:before, .tsc_ribbon_wrap1:after {
	content: "";
	display: table;
}

.tsc_ribbon_wrap1:after {
	clear: both;
}

.tsc_ribbon_wrap1 {
	*zoom: 1;
}



.tsc_ribbon_wrap1 .ribbon-wrap {
	position: absolute;
	z-index: 0;
	text-align: center;
	color: #fff;
	behavior: url(PIE.htc);
}

.tsc_ribbon_wrap1 .ribbon-wrap > span {
	display: block;
	height: 100%;
	position: relative;
	behavior: url(PIE.htc);
	-pie-watch-ancestors: 1;
}

.tsc_ribbon_wrap1 .ribbon-wrap > span:before, .tsc_ribbon_wrap1 .ribbon-wrap > span:after {
	content: '';
	position: absolute;
	z-index: -1;
}

.tsc_ribbon_wrap1 .ribbon-wrap:before, .tsc_ribbon_wrap1 .ribbon-wrap:after {
	content: '';
	position: absolute;
	z-index: -2;
}



.tsc_ribbon_wrap1 .left-edge.point:after {
	width: 28px;
	height: 28px;
	right: -14px;
	top: 50%;
	margin-top: -14px;
	-moz-transform-origin:    center center; -moz-transform:    rotate(45deg);
	-webkit-transform-origin: center center; -webkit-transform: rotate(45deg);
	-o-transform-origin:      center center; -o-transform:      rotate(45deg);
	-ms-transform-origin:     center center; -ms-transform:     rotate(45deg);
	transform-origin:         center center; transform:         rotate(45deg);
	-moz-box-shadow:    1px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tsc_ribbon_wrap1.ie8 .left-edge.point:before, .tsc_ribbon_wrap1.ie8 .left-edge.point:after {
	display: none;
	border-radius: 0;
}


.tsc_ribbon_wrap1 .right-edge.point {
	width: 70px;
	height: 40px;
	line-height: 40px;
	top: 20px;  
	right: -5px;
	-moz-box-shadow:    0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-border-radius:    0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius:         0 5px 0 0;
}

.tsc_ribbon_wrap1.ie8 .right-edge.point {
	right: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.tsc_ribbon_wrap1 .right-edge.point > span {
	-moz-border-radius:    0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius:         0 5px 0 0;
}

.tsc_ribbon_wrap1.ie .right-edge.point > span {
	-pie-background: none;
}

.tsc_ribbon_wrap1 .right-edge.point:before {
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	bottom: -5px;
	right: 0;
	-moz-transform:    rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:      rotate(45deg);
	-ms-transform:     rotate(45deg);
	transform:         rotate(45deg);
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

.tsc_ribbon_wrap1 .right-edge.point:after {
	width: 28px;
	height: 28px;
	left: -14px;
	top: 50%;
	margin-top: -14px;
	-moz-transform-origin:    center center; -moz-transform:    rotate(45deg);
	-webkit-transform-origin: center center; -webkit-transform: rotate(45deg);
	-o-transform-origin:      center center; -o-transform:      rotate(45deg);
	-ms-transform-origin:     center center; -ms-transform:     rotate(45deg);
	transform-origin:         center center; transform:         rotate(45deg);
	-moz-box-shadow:    1px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tsc_ribbon_wrap1.ie8 .right-edge.point:before, .tsc_ribbon_wrap1.ie8 .right-edge.point:after {
	display: none;
	border-radius: 0;
}


.tsc_ribbon_wrap1 .left-edge.fork {
	width: 180px;
	height: 40px;
	line-height: 18px;
	top: 20px;  
	left: -5px;
	-moz-box-shadow:    0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-border-radius:    5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius:         5px 0 0 0;
}

.tsc_ribbon_wrap1.ie8 .left-edge.fork {
	left: 0;
	border-radius: 0;
	box-shadow: none !important;
}

.tsc_ribbon_wrap1 .left-edge.fork > span {
	-moz-border-radius:    5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius:         5px 0 0 0;
}

.tsc_ribbon_wrap1 .left-edge.fork > span:before {
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	bottom: -5px;
	left: 0;
	-moz-transform:    rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform:      rotate(-45deg);
	-ms-transform:     rotate(-45deg);
	transform:         rotate(-45deg);
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

.tsc_ribbon_wrap1.ie8 .left-edge.fork > span:before {
	display: none;
}

.tsc_ribbon_wrap1 .left-edge.fork > span:after {
	right: -20px;
	top: 0;
	border-style: solid;
	border-width: 20px;
}

.tsc_ribbon_wrap1 .left-edge.fork:before {
	right: 22px;
	bottom: 5px;
	width: 80px;
	height: 20px;
	background: #666;
	-moz-transform:    rotate(-22deg) skew(18deg, 28deg);
	-webkit-transform: rotate(-22deg) skew(18deg, 28deg);
	-o-transform:      rotate(-22deg) skew(18deg, 28deg);
	-ms-transform:     rotate(-22deg) skew(18deg, 28deg);
	transform:         rotate(-22deg) skew(18deg, 28deg);
	-moz-box-shadow:    25px 8px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 25px 8px 4px rgba(0, 0, 0, 0.5);
	box-shadow:         25px 8px 4px rgba(0, 0, 0, 0.5);
}





/********** Colour Styles **********/

/****** Light Blue ******/
.tsc_ribbon_wrap .lblue.left-edge.fork > span {
	background-color: #42a5d4;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #42a5d4), color-stop(5px, #42a5d4), color-stop(15%, #24769d), color-stop(65%, #24769d), color-stop(100%, #42a5d4)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* FF3.6 */
	background-image:     -ms-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* IE10 */
	background-image:      -o-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* Opera 11.10+ */
	background-image:         linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%);
	-pie-background:          linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* IE6-IE9 */
}

.tsc_ribbon_wrap.ie8 .lblue.left-edge.fork > span {
	-pie-background: none;
}

.tsc_ribbon_wrap .lblue.left-edge.fork > span:after {
	border-color: #42a5d4 transparent #42a5d4 #42a5d4;
}

.tsc_ribbon_wrap .lblue.left-edge.fork > span:before {
	border-left-color: #174c66;
	border-top-color: #174c66;
}

/***Logout****/

.tsc_ribbon_wrap1 .lblue.left-edge.fork > span {
	background-color: #42a5d4;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #42a5d4), color-stop(5px, #42a5d4), color-stop(15%, #24769d), color-stop(65%, #24769d), color-stop(100%, #42a5d4)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* FF3.6 */
	background-image:     -ms-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* IE10 */
	background-image:      -o-linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* Opera 11.10+ */
	background-image:         linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%);
	-pie-background:          linear-gradient(left, #42a5d4 0, #42a5d4 5px, #24769d 15%, #24769d 65%, #42a5d4 100%); /* IE6-IE9 */
}

.tsc_ribbon_wrap1.ie8 .lblue.left-edge.fork > span {
	-pie-background: none;
}

.tsc_ribbon_wrap1 .lblue.left-edge.fork > span:after {
	border-color: #42a5d4 transparent #42a5d4 #42a5d4;
}

.tsc_ribbon_wrap1 .lblue.left-edge.fork > span:before {
	border-left-color: #174c66;
	border-top-color: #174c66;
}


/****** Light Red ******/

.tsc_ribbon_wrap.ie8 .lred, .tsc_ribbon_wrap .lred > span, .tsc_ribbon_wrap .lred.left-corner > span:before, .tsc_ribbon_wrap .lred.left-corner > span:after, .tsc_ribbon_wrap .lred.right-corner > span, .tsc_ribbon_wrap .lred.right-corner > span:before, .tsc_ribbon_wrap .lred.right-corner > span:after {
	background-color: #434343;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#434343)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #434343, #434343); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #434343, #434343); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #434343, #434343); /* IE10 */
	background-image:      -o-linear-gradient(top, #434343, #434343); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #434343, #434343);
}




.tsc_ribbon_wrap .lred.left-edge.point:after, .tsc_ribbon_wrap .lred.right-edge.point:after {
	background-color: #434343;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#434343)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(-45deg, #434343, #434343); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(-45deg, #434343, #434343); /* FF3.6 */
	background-image:     -ms-linear-gradient(-45deg, #434343, #434343); /* IE10 */
	background-image:      -o-linear-gradient(-45deg, #434343, #434343); /* Opera 11.10+ */
	background-image:         linear-gradient(-45deg, #434343, #434343);
}

.tsc_ribbon_wrap .lred.left-edge:before {
	border-left-color: #434343;
	border-top-color: #434343;
}

.tsc_ribbon_wrap .lred.right-edge:before {
	border-right-color: #434343;
	border-top-color: #434343;
}

/****Logout****/

.tsc_ribbon_wrap1.ie8 .lred, .tsc_ribbon_wrap1 .lred > span, .tsc_ribbon_wrap1 .lred.left-corner > span:before, .tsc_ribbon_wrap1 .lred.left-corner > span:after, .tsc_ribbon_wrap1 .lred.right-corner > span, .tsc_ribbon_wrap1 .lred.right-corner > span:before, .tsc_ribbon_wrap1 .lred.right-corner > span:after {
	background-color: #434343;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#434343)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #434343, #434343); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #434343, #434343); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #434343, #434343); /* IE10 */
	background-image:      -o-linear-gradient(top, #434343, #434343); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #434343, #434343);
}




.tsc_ribbon_wrap1 .lred.left-edge.point:after, .tsc_ribbon_wrap1 .lred.right-edge.point:after {
	background-color: #434343;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#434343)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(-45deg, #434343, #434343); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(-45deg, #434343, #434343); /* FF3.6 */
	background-image:     -ms-linear-gradient(-45deg, #434343, #434343); /* IE10 */
	background-image:      -o-linear-gradient(-45deg, #434343, #434343); /* Opera 11.10+ */
	background-image:         linear-gradient(-45deg, #434343, #434343);
}

.tsc_ribbon_wrap1 .lred.left-edge:before {
	border-left-color: #434343;
	border-top-color: #434343;
}

.tsc_ribbon_wrap1 .lred.right-edge:before {
	border-right-color: #434343;
	border-top-color: #434343;
}





