#cms-breadcrumb {
 background-color : #fdfdfd;
}
#cms-breadcrumb ul, #cms-breadcrumb li {
 list-style-type:none;
 padding:0;
 margin:0;
}
#cms-breadcrumb ul {
 border:1px solid #dedede;
 height:2.3em;
}
#cms-breadcrumb ul li {
 float:left;
 line-height:2.3em;
 padding-left:3px;
 color:#777;
}
#cms-breadcrumb ul li:first-child{
border-left:3px rgba(222,222,222,0.5) solid;
padding-left:3px;
}
#cms-breadcrumb ul li span a div{
  display:block;
 padding:0 10px 0 5px;
 background:url(../images/crumbs.gif) no-repeat center right;
}
#cms-breadcrumb ul li span {

}
#cms-breadcrumb ul li span a:link div, #cms-breadcrumb ul li span a:visited div {
 text-decoration:none;
 color:#777;
}
#cms-breadcrumb ul li span a:hover div, #cms-breadcrumb ul li span a:focus div{
 color:#1d7ccc;
}

