/*
div.header{
	height: 108px;
	padding: 0 0 7px 0;
	background: transparent url('../images/bg-header-wrap.png') 0 100% repeat-x;
}
div#header_text{
margin: 22px 0 0 10%;
padding: 0;
float: left;
display: block;
color: #fff;
font: normal 40px/108px 'Podkova', serif;
text-decoration: none;
}
*/
@font-face { font-family: Dharmagothic; src: url('dharmagothicregular.otf'); }
.fullscreendiv{position:absolute!important;top:0px;left:0px;height:auto;width:100%!important;}
.goog-te-gadget-icon{display:none;}
.col-12{width:100%;}.col-11{width:91%;}.col-10{width:83%;}
.col-9{width:75%;}.col-8{width:66%;}.col-7{width:58%;}
.col-6{width:5%;}.col-5{width:41%;}.col-4{width:33%;}
.col-1{width:8%;}.col-2{width:16%;}.col-3{width:25%;}
.pull-left{float:left;}.pull-right{float:right;}
#top-social{margin-top:0px;/* background-color: #000; */height:32px;color:#fff;}
#site-logo{text-decoration:none}
ul.no-style{list-style: none;}
ul.li-inline > li{display: inline;padding:6px;line-height:18px;}
.innercontainer,.outercontainer{background: transparent;}
.site-content{margin-top:40px;}
.centerme{margin:0 auto;}
.menucontainer{float:right;}
#menubar > ul > li a:hover, .menucontainer a:hover{border:none!important;}
.header-shadow{
background: url("../images/header-shadow.png") no-repeat center 100%;
	width: 100%;
	height: 42px;
	position: absolute;
}
.menucontainer{position:relative;top:31px;height:83px;}
#header{background:rgba(0,0,0,0.8);
	background:#fff;
	background: #019BFF;
	background: #2693ba;
}

#top-social a{color:transparent;font-weight:bold;}

#header_container{
padding:0 4%;	
height:60px;
/* background: #fff; */ 
}
#header_container nav{bottom:10px;position:relative;}

.topnav li a,.menucontainer a{
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-left:1px solid gray;
	padding-left:50px;
}
.topnav li,.topnav li > a > div,.cms-menuhead,.menucontainer,.menucontainer a,.div_topnav{
	display: inline;
}
#menubar > ul > li a,.menucontainer a,.topnav li a,.menucontainer a{
text-decoration: none;
padding: .9em 10px;
/*padding-bottom:50px;*/
/*padding: 1em 10px;*/
width:auto;
margin-left: 10px;
 /* color:#ccc; */
font-weight: normal;
font-size:1.5em;
text-transform:capitalize;
/* text-shadow: 0px 4px 1px #222; */
padding-top: 1px;
vertical-align: middle;
padding-top: 10px;
}

.topnav li a:hover,.menucontainer a:hover{
background: #fefefe;
margin-left:7px;
border:2px solid rgb(156,9,9)!important;
box-shadow: 1px 1px 10px #ccc;
/* padding: 1em 9px;	*/
/* padding: 0.5em 21px; */
}
.subtext{  
        display: none;
        font-size:12px;
        color:black;
        font-family:arial;
}  


.cms-breadcrumbItem{border-left:1px solid gray;}
#cms-breadcrumb ul li span a div{background:url(../images/crumbs.png);}
.cms-breadcrumbItem:hover,#cms-breadcrumb ul li span a div:hover{background:#1bc4de;color:white;}
.new-update{
	border-top: 1px dashed #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
	background: #fefefe;
	font-family: 'PTSansRegular';
	font-size:13px;
	border-radius: 10px;
	box-shadow: 1px 1px 10px #ccc;
}
#site-slogan,#site-title {
line-height: 35px;
font-size:25px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;.
margin: 0 0 0 15px;
float: left;
/* color: #000; */
}
#site-logo, #site-logo img {
display: block;
float: left;
overflow: hidden;
height: inherit;
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}
.footer{
	background: none;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
body{
	background:#FFF;
	background:#F5F5F5;
	/* background-color: rgb(89,89,216);
	background-image:url(../images/tex2.png); */
}

#header_container{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: thin;
	color: #fff!important;
}
.cms-menuitem,.cms-menuhead{
	/* color: #000; */
	color:#fff;
	/* padding:0!important; */
}
*  Social Icons
    ------------------------------------------------------- */

.icons-small ul {
    overflow: hidden;
    margin: 0;
}
.icons-small li { float: left; }
.icons-small li > a {
    background-color: transparent;
    background-image: url("../images/social-small.png");
    width: 30px;
    height: 36px;
    opacity: 0.5;
}
.icons-small li > a:hover { opacity: 1; }
.icons-small .small-email > a { background-position: 0 2px; }
.icons-small .small-linkedin > a { background-position: -30px -8px; }
.icons-small .small-pinterest > a { background-position: -60px -8px; }
.icons-small .small-tumblr > a { background-position: -90px -8px; }
.icons-small .small-dribbble > a { background-position: -120px -8px; }
.icons-small .small-twitter > a { background-position: -150px -8px; }
.icons-small .small-facebook > a { background-position: -180px -8px; }
.icons-small .small-flickr > a { background-position: -210px -8px; }
.icons-small .small-search > a { background-position: -240px -8px; }
.icons-small .small-delicious > a { background-position: -270px -8px; }
.icons-small .small-skype > a { background-position: -300px -8px; }
.icons-small .small-forrst > a { background-position: -330px -8px; }
.icons-small .small-paypal > a { background-position: -360px -8px; }
.icons-small .small-behance > a { background-position: -390px -8px; }
.icons-small .small-deviantart > a { background-position: -420px -8px; }
.icons-small .small-digg > a { background-position: -450px -8px; }
.icons-small .small-vimeo > a { background-position: -480px -8px; }
.icons-small .small-yahoo > a { background-position: -510px -8px; }
.icons-small .small-youtube > a { background-position: -540px 2px; }
.icons-small .small-picasa > a { background-position: -570px -8px; }
.icons-small .small-reddit > a { background-position: -600px -8px; }
.icons-small .small-google > a { background-position: -630px -8px; }
.icons-small .small-rss > a { background-position: -660px 3px; }
.top-contact{padding-top:10px;}

.ticker-wrapper.has-js{background-color:transparent;height:10px;top: -11px;position: relative;}
.ticker,.ticker-title,.ticker-content,.ticker-swipe,.ticker-swipe span{background:#fefefe;}
.new-update{font-size:20px;}
.ticker{height:auto;}
.contentcontainer #cms-content,#cms-content{
	/* background:url(../images/temp/bk_body.jpg); */
	color:#575055;
	top:20px;
	position:relative;
	/* background: #fbfbfb; */
	background:url(../images/body_grad.png); 

background: #fefefe;
border: 1px solid #d6d6d6;
padding: 14px;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.05);
-moz-box-shadow: 0 0 5px rgba(0,0,0,0.05);
-ms-box-shadow: 0 0 5px rgba(0,0,0,0.05);
-o-box-shadow: 0 0 5px rgba(0,0,0,0.05);
box-shadow: 0 0 5px rgba(0,0,0,0.05);
	
	color:#000;
	width:90%;
	padding:0px 20px;
	margin:0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	-moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	box-shadow: 1px 1px 10px #ccc;
}

/* login form css */
 #loginform {
     width: 404px;
     padding-bottom: 2px;
     display:none;
     background: #FFF;
     border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
     box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);  
}

.push_button{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position:relative;
	color:#FFF;
	display:inline;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#cb3b27;
	text-align:center;
	cursor:pointer;
	padding:3px 3px;
	/* padding:20px 30px; 
		width:100px;
	*/
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 6px 0px #84261a;
        -moz-box-shadow: 0px 6px 0px #84261a;
        box-shadow: 0px 6px 0px #84261a;
}
.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:5px;
}	
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
.push_button.small:active{
-webkit-box-shadow: 0px 6px 0px #84261a;
-moz-box-shadow: 0px 6px 0px #84261a;
box-shadow: 0px 4px 0px #842615;
}
#signup-header { background: url(../images/login_header.png); padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
#signup-header  h2 { color: #444; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }
#loginform .txt-fld { position: relative; width: 364px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#loginform .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }
#loginform .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 1.3em; text-align: left;  }
#loginform .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#loginform .txt-fld input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#loginform .txt-fld input.error_input { background: #FDE0E0; }
.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../images/modal_close.png); z-index: 2; }

/*Login form css */
div.header{
	background: #222;
	background: url(../images/header_bg.png);
	min-height: 100px;
	padding-top: 15px;
}
div#header_text{
	color:#f0f0f0;
	font-weight: bold;
	padding-left:0px;
	font-size: 3em;
	font-family: 'Amaranth', sans-serif;
	text-shadow: 0px 4px 2px #222;
}
div.header > img{
	display: inline;
	padding-left:50px;
}
.contentcontainer div#cms-leftcontent{
	position:absolute;
	top:30px;
	float:right;
	right:10%;
	width:auto;
	background: none;
	border:0;
}
.topnav{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
display: inline;
}


/* if menu bar module is changed */
#menubar > ul{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
display: inline;
}
#menubar > ul li,#menubar > h2,#menubar > ul > li > a > div,.cms-menuhead,.menucontainer,.menucontainer a,.div_topnav{
	display: inline;
}
#menubar > h2{font-size: 1em;}
.div_topnav{margin-left:-12px;}
.topnav > li > a:hover .cms-menuitem,.menucontainer a:hover .cms-menuhead{color:#000;}

/*****/

.actionbarcontainer{top:30px;position:relative;}
.lava{
	top:0px;
	margin-left:0px;
	background:none;
	border: groove rgba(156,9,9,.6);
	border-width:0px 0px 5px 0px;
	height:45px;
	width:75px;
	position: absolute;
	z-index: 0;
	pointer-events:none;
}
#lava2{
	border:0;
	top:-30px;
	position:absolute;
	height:30px;
	width:52px;
	z-index:1;
	background:url(../images/skate_lava2.png) no-repeat;
	background:url(../images/rollerskate_lava.png) no-repeat;
	background-position-y:-7px; 
	pointer-events:none;
	/*border:2px solid black;*/
}
#menubar,#menubar > ul,#menubar > ul > li > a{
	z-index: 2;
}

