/*
div.header{
	height: 108px;
	padding: 0 0 7px 0;
	background: transparent url('../images/bg-header-wrap.png') 0 100% repeat-x;
}
div#header_text{
margin: 22px 0 0 10%;
padding: 0;
float: left;
display: block;
color: #fff;
font: normal 40px/108px 'Podkova', serif;
text-decoration: none;
}
*/

.innercontainer{
	background: #f3f6ff;
}

.contentcontainer #cms-content{
	/* background:url(../images/temp/bk_body.jpg); */
	color:#575055;
	background: #f1f1f1;
	width:100%;
	margin:0;
	background: #f8faff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	-moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
div.header{
	background: #222;
	background: url(../images/header_bg.png);
	min-height: 100px;
	padding-top: 15px;
}
div#header_text{
	color:#f0f0f0;
	font-weight: bold;
	padding-left:0px;
	font-size: 3em;
	font-family: 'Amaranth', sans-serif;
	text-shadow: 0px 4px 2px #222;
}
div.header > img{
	display: inline;
	padding-left:50px;
}
.contentcontainer div#cms-leftcontent{
	position:absolute;
	top:30px;
	float:right;
	right:10%;
	width:auto;
	background: none;
	border:0;
}
.topnav{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
display: inline;
}
.topnav li,.topnav li > a > div,.cms-menuhead,.menucontainer,.menucontainer a,.div_topnav{
	display: inline;
}
.topnav li a,.menucontainer a{
text-decoration: none;
padding: 1em 10px;
/*padding: 1em 10px;*/
width:auto;
margin-left: 10px;
color:#ccc;
font-weight: bold;
font-size:2em;
text-shadow: 0px 4px 1px #222;
padding-top: 1px;
}
.topnav li a:hover,.menucontainer a:hover{
border:1px dashed #f0f0f0;
padding: 1em 9px;
/* padding: 0.5em 21px; */
}

/* if menu bar module is changed */
#menubar > ul{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
display: inline;
}
#menubar > ul li,#menubar > h2,#menubar > ul > li > a > div,.cms-menuhead,.menucontainer,.menucontainer a,.div_topnav{
	display: inline;
}
#menubar > h2{font-size: 1em;}
#menubar > ul > li a,.menucontainer a{
text-decoration: none;
padding: 1em 10px;
/*padding: 1em 10px;*/
width:auto;
margin-left: 10px;
color:#ccc;
font-weight: bold;
font-size:2em;
text-shadow: 0px 4px 1px #222;
padding-top: 1px;
z-index:2;
}
#menubar > ul > li a:hover,.menucontainer a:hover{
border:1px dashed #f0f0f0;
padding: 1em 9px;
/* padding: 0.5em 21px; */
}

/*****/
.subtext{  
        padding-top:15px;  
        display: none;
}  
.green{background:#6AA63B;}  
.yellow{background:#FBC700;}  
.red{background:#D52100;}  
.purple{background:#5122B4;}  
.blue{background:#0292C0;}  

.lava{
	top:0px;
	margin-left:0px;
	background:none;
	border: groove rgba(156,9,9,.6);
	border-width:5px 0px 5px 0px;
	height:45px;
	width:75px;
	position: absolute;
	z-index: 0;
	pointer-events:none;
}
#lava2{
	top:115px;
	height:30px;
	width:52px;
	z-index:1;
	background:url(../images/skate_lava2.png) no-repeat;
	background:url(../images/rollerskate_lava.png) no-repeat;
	background-position-y:-7px; 
	pointer-events:none;
	/*border:2px solid black;*/
}
#menubar,#menubar > ul,#menubar > ul > li > a{
	z-index: 2;
}

