.miniColors-trigger {
	height: 22px;
	width: 22px;
	background: url(../images/minicolors/trigger.png) center no-repeat;
	vertical-align: middle;
	margin: -2px 0.25em 0 0.25em;
	display: inline-block;
	outline: none;
}

.miniColors-selector {
	position: absolute;
	width: 175px;
	height: 150px;
	background: #FFF;
	border: solid 1px #BBB;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	box-shadow: 0 0 6px rgba(0, 0, 0, .25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	z-index: 999999;
}

.miniColors-selector.black {
	background: #000;
	border-color: #000;
}

.miniColors-colors {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 150px;
	height: 150px;
	background: url(../images/minicolors/gradient.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-hues {
	position: absolute;
	top: 5px;
	left: 160px;
	width: 20px;
	height: 150px;
	background: url(../images/minicolors/rainbow.png) center no-repeat;
	cursor: crosshair;
}

.miniColors-colorPicker {
	position: absolute;
	width: 11px;
	height: 11px;
	background: url(../images/minicolors/circle.gif) center no-repeat;
}

.miniColors-huePicker {
	position: absolute;
	left: -3px;
	width: 26px;
	height: 3px;
	background: url(../images/minicolors/line.gif) center no-repeat;
}





#padd-admin-tabs ul.ui-tabs-nav {
	border-bottom: 1px solid #dfdfdf;
	font-size: 12px;
	height: 29px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 16px 0 0 0;
	overflow: visible;
	padding: 0 0 0 8px;
}
#padd-admin-tabs ul.ui-tabs-nav li {
	display: block;
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	white-space: nowrap;
	width: auto;
}
#padd-admin-tabs ul.ui-tabs-nav li a {
	background: transparent none no-repeat scroll 0 50%;
	border-bottom: 1px solid #dfdfdf;
	display:block;
	float:left;
	line-height: 28px;
	padding: 1px 13px 0;
	position: relative;
	text-decoration: none;
}
#padd-admin-tabs ul.ui-tabs-nav li.ui-tabs-selected a,
#padd-admin-tabs ul.ui-tabs-nav li.ui-state-active a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border: 1px solid #dfdfdf;
	border-bottom-color: #fff;
	color: #333;
	font-weight: normal;
	padding: 0 12px;
}
#padd-admin-tabs ul.ui-tabs-nav a:focus,
#padd-admin-tabs ul.ui-tabs-nav a:active {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
}
#padd-admin-tabs .ui-tabs-panel {
	margin: 1px 0 0 0;
}
table.form-table input[type='text'] {
	width: 250px;
}
table.form-table input.colorpicker {
	width: 80px;
}
table.form-table input[name*='sn_username_'],
table.form-table input[name*='url'] {
	width: 100%;
}
table.form-table input[name='sn_username_facebook'],
table.form-table input[name='sn_username_twitter'] {
	width: 250px;
}
table.form-table select {
	width: 250px;
}
#wpcontent table.form-table select[multiple] {
	height: 100px;
}
#wpcontent table.form-table textarea {
	width: 500px;
	height: 150px;
}
#screen-options-wrap p.submit {
	margin: 0;
	padding: 0;
}
.post-table th {
	font-weight: bold;
}

