/* = base.css
--------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	font: normal 12px/20px 'Arial', sans-serif;
	color: #333;
}
form {
	margin: 0;
	padding: 0;
	display: block;
}
blockquote {
	margin: 1em 0;
	padding: 1em 1em 0 1em;
	border: 1px solid #c8c8c8;
	background: #eee none;
	font-style: italic;
	border-radius: 5px;
}
blockquote em {
	font-style: normal;
}
blockquote blockquote {
	border-color: #c8c8c8;
	background: #fefefe none;
	font-style: normal;
}
blockquote blockquote em {
	font-style: italic;
}
blockquote blockquote blockquote {
	border-color: #c8c8c8;
	background: #eee none;
	font-style: italic;
}
blockquote blockquote em {
	font-style: normal;
}
iframe {
	display: block;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
}
p {
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
}
dl,
ol,
ul {
	margin: 0 0 1em 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
	margin: 0;
}
a {
	outline: none;
}
a:link,
a:visited {
	color: #33a6b2;
	text-decoration: none;
}
a:hover,
a:active {
	color: #33a6b2;
	text-decoration: underline;
}
abbr {
	border: 0 none;
}
table {
	margin: 0 0 1em 0;
}
input,
button,
select,
option,
textarea {
	font: normal 12px/12px 'Arial', sans-serif;
}
*:focus {
	outline: none;
}





