/* = content.css
--------------------------------------------------- */

/** Entry **/
.entry {
	padding: 0;
	margin: 0 0 4em 0;
}
.entry .entry-header {
	padding: 0 0 0.7em 0;
	margin: 0 0 0 170px;
}
.entry .entry-title {
	display: block;
	padding: 0;
	margin: 0 0 0.3em 0;
	font: normal 24px/28px 'Podkova', sans-serif;
}
.entry .entry-title a {
	text-decoration: none;
}
.entry .entry-header .meta {
	display: block;
	margin: 0;
	padding: 0;
	font: normal 10px/14px Arial, sans-serif;
}
.entry .entry-thumbnail {
	float: left;
}
.entry .entry-excerpt {
	margin: 0 0 -1em 170px;
}

/** Not Found **/
.not-found .entry-title {
	float: none;
}
.not-found .entry-header {
	margin-left: 0;
}

/** Singular Posts **/
.singular #content,
.search #content,
.archive #content {
	background: rgba(220, 220, 220, 0.75) none;
	border: 1px solid #c6c6c6;
	padding: 20px;
	margin-bottom: 20px;
}
.singular .entry {
	background: 0 none;
	width: auto;
	float: none;
	margin: 0;
}
.singular .entry-header {
	margin: 0 0 1em 0;
}
.singular .entry-title {
	font: normal 36px/42px 'Podkova', sans-serif;
	margin: 0 0 0.3em 0;
}

/** Page **/
.page .entry .entry-title {
	float: none;
}

/** Page Titles **/
.page-header .page-title {
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
	text-align: left;
	font: normal 36px/42px 'Podkova', sans-serif;
}

/** Entry Boxes **/
.entry-box {
	margin: 0 0 20px 0;
}
.entry-box .entry-box-header {
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #333;
}
.entry-box .entry-box-title {
	display: block;
	margin: 0;
	padding: 0 0 0 50px;
	height: 50px;
	font: normal 24px/50px 'Podkova', sans-serif;
}
.entry-box-about-author img {
	float: left;
	margin: 0 10px 0 0;
}
.entry-box-share ul {
	display: block;
	list-style: none;
	margin: 11px 0 0 36px;
	padding: 0;
}
.entry-box-share ul li {
	display: block;
	margin: 10px 15px 0 0;
	padding: 0;
	float: left;
}
.entry-box-share ul li a {
	display: block;
	float: left;
}
.entry-box-share ul li a img {
	border: 0 none;
	padding: 0;
}
.entry-box-reply {
	margin: 0;
}
.entry-box-about-author .entry-box-title {
	background: transparent url('../images/bg-post-box-author.png') 0 0 no-repeat;
}
.entry-box-share .entry-box-title {
	background: transparent url('../images/bg-post-box-spread-love.png') 0 0 no-repeat;
}
.entry-box-related .entry-box-title {
	background: transparent url('../images/bg-post-box-related-posts.png') 0 0 no-repeat;
}
.entry-box-replies .entry-box-title {
	background: transparent url('../images/bg-post-box-comments.png') 0 0 no-repeat;
}
.entry-box-trackbacks .entry-box-title {
	background: transparent url('../images/bg-post-box-trackbacks.png') 0 0 no-repeat;
}
.entry-box-reply .entry-box-title {
	background: transparent url('../images/bg-post-box-comment-add.png') 0 0 no-repeat;
}