/* = content-index.css
--------------------------------------------------- */

#slideshow-box {
	position: relative;
	width: 950px;
	height: 300px;
	overflow: hidden;
}
#slideshow-box .item {
	width: 950px;
	height: 300px;
	position: relative;
	margin: 0;
	padding: 0;
}
#slideshow-box .item img {
	border: 0 none;
}
#slideshow-box .item .image {
	float: left;
}
#slideshow-box .item .image a {
	display: block;
}

/** Pager **/
#slideshow-controller {
	position: absolute;
	text-align: right;
	bottom: 30px;
	right: 20px;
	z-index: 99999;
}
#slideshow-controller span {
	display: block;
}
#slideshow-controller button {
	margin: 0 3px;
	padding: 0;
	width: 8px;
	height: 8px;
	border: 0;
	background: transparent url('../images/button-pager.png') left top no-repeat;
}
#slideshow-controller button span {
	display: none;
}
#slideshow-controller button.jqc-active {
	background-position: right top;
}

/** Home Top Widget Area **/
#home-top .bar {
	width: 178px;
	float: left;
	padding: 0;
	margin: 0 78px 0 0;
	overflow: hidden;
	color: #fff;
}
#home-top .bar-4 {
	margin: 0;
}
#home-top .bar h3 {
	font: normal 25px/35px 'Podkova', serif;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	color: #fff;
}
#home-top .bar h3 a {
	text-decoration: none;
	color: #fff;
}
#home-top .bar h3 a:hover {
	text-decoration: underline;
}

/** Special Widget **/
#home-top .widget_special h3 {
	margin: 0 0 10px 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: left top;
}

/** Home **/
.front-page #main-wrap {
	height: 250px;
	padding: 7px 0;
	background: transparent url('../images/bg-main-wrap-front.png') 0 0 repeat-x;
	overflow: hidden;
}
.front-page #main {
	overflow: hidden;
}
.front-page #main .page-title {
	padding-top: 13px;
	font: normal 22px/30px 'Podkova', serif;
	color: #fff;
	text-transform: uppercase;
}
#featured-projects {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 980px;
}
#featured-projects li {
	display: block;
	margin: 0 30px 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
#featured-projects li img {
	border: 0 none;
	padding: 8px;
	background: #fff none;
}