/* = footer.css
--------------------------------------------------- */

#footer p {
	display: block;
	margin: 0;
	padding: 0;
}
#footer a {
	color: #727272;
	text-decoration: none;
}
#footer .copyright {
	float: left;
}
#footer .designers {
	float: right;
}
#footer .designers a {
}