/* = header.css
--------------------------------------------------- */

#header .widget-area {
	float: right;
}

#branding #site-description {
	display: none;
}

/** Social Net **/
#header .widget_socialnet {
	margin: 14px 0 0 0;
	height: 26px;
}
#header .widget_socialnet ul {
	list-style: none;
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	height: 26px;
}
#header .widget_socialnet li {
	display: block;
	margin: 0 0 0 10px;
	padding: 0;
	float: left;
	height: 26px;
	line-height: 26px;
	text-transform: uppercase;
}
#header .widget_socialnet a {
	display: block;
	margin: 0;
	padding: 0;
	color: #999;
	text-indent: -999999px;
	width: 26px;
	height: 26px;
}
#header .widget_socialnet .facebook a {
	background: transparent url('../images/icon-sn-facebook.png') 0 0 no-repeat;
}
#header .widget_socialnet .rss a {
	background: transparent url('../images/icon-sn-rss.png') 0 0 no-repeat;
}
#header .widget_socialnet .flickr a {
	background: transparent url('../images/icon-sn-flickr.png') 0 0 no-repeat;
}
#header .widget_socialnet .twitter a {
	background: transparent url('../images/icon-sn-twitter.png') 0 0 no-repeat;
}
#header .widget_socialnet .vimeo a {
	background: transparent url('../images/icon-sn-vimeo.png') 0 0 no-repeat;
}
#header .widget_socialnet .myspace a {
	background: transparent url('../images/icon-sn-myspace.png') 0 0 no-repeat;
}
#header .widget_socialnet .digg a {
	background: transparent url('../images/icon-sn-digg.png') 0 0 no-repeat;
}
#header .widget_socialnet .linkedin a {
	background: transparent url('../images/icon-sn-linkedin.png') 0 0 no-repeat;
}