/* = layout.css
--------------------------------------------------- */

/** Header **/
#header-wrap {
	height: 108px;
	padding: 0 0 7px 0;
	background: transparent url('../images/bg-header-wrap.png') 0 100% repeat-x;
}
#header {
	width: 950px;
	margin: 0 auto;
	position: relative;
}


/** Intro **/
#intro-wrap {
	padding: 11px 0;
	margin: 0;
}
#intro {
	width: 950px;
	height: 300px;
	margin: 0 auto;
}

#home-top-wrap {
	padding: 32px 0 25px 0;
	background: transparent url('../images/bg-home-top-wrap.png') 0 0 repeat-x;
}
#home-top {
	width: 950px;
	height: 126px;
	margin: 0 auto;
	background: transparent url('../images/bg-home-top.png') 50% 0 no-repeat;
}

/** Main **/
#main-wrap {
	padding: 0;
}
#main {
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
}
#primary {
	margin: 30px 0 0;
	width: 620px;
	float: left;
}
#primary-full {
	width: auto;
	float: none;
}
#primary #content {
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
}
#secondary {
	margin: 30px 0 0 0;
	width: 260px;
	float: right;
}
#secondary-full {
	width: 990px;
}
#primary #content {
	overflow: hidden;
}

/** Footer Widget Area **/
#fwa-wrap {
	padding: 30px 0;
}
#fwa {
	width: 950px;
	margin: 0 auto;
}

/** Footer **/
#footer-wrap {
	 background: rgba(220, 220, 220, 0.75) none;
	 border-top: 1px solid #c6c6c6;
}
#footer {
	width: 950px;
	margin: 0 auto;
	padding: 15px 0;
	font-family: 'Podkova', sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #727272;
	text-shadow: 0 1px #fff;
}



