/* = pagination.css
--------------------------------------------------- */

.pagination {
	padding: 0 0 3em 0;
	height: 28px;
}
.pagination span, .pagination a {
	display: block;
	float: left;
	height: 28px;
	margin: 0 10px 0 0;
	padding: 0 10px;
	font-family: 'Podkova', serif;
	text-decoration: none;
	background: #fff none;
	color: #19747d;
	border: 1px solid #19747d;
	font-size: 12px;
	line-height: 28px;
}

.pagination .pages {
	color: #666;
	border: 1px solid #666;
}
.pagination .pages .n {
	display: inline;
	float: none;
	color: #666;
	padding: 0;
	margin: 0;
	border: 0 none;
}
.pagination span.current,
.pagination a:hover,
.pagination a:active {
	color: #33a6b2;
	border: 1px solid #33a6b2;
}




