/* = required.css
--------------------------------------------------- */

/** Class Rules **/
.no-display {
	display: none;
}
.clear {
	display: block;
	clear: both;
}
.clear-fix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

/** WP Rules **/
img.aligncenter,
div.aligncenter {
	display: block;
	margin: 1em auto;
}
img.alignleft,
div.alignleft {
	float: left;
	margin: 1em 1em 1em 0;
}
img.alignright,
div.alignright {
	float: right;
	margin: 1em 0 1em 1em;
}
.entry-content img {
	border: 1px solid #ccc;
	background: #efefef none;
	padding: 6px;
}
.entry-content .wp-caption {
	border: 1px solid #ccc;
	text-align: center;
	padding: 10px 4px 0 4px;
	background: #efefef none;
}
.entry-content .wp-caption a {
	border: 0 none;
}
.entry-content .wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.entry-content .wp-caption p.wp-caption-text {
	font-size: 10px;
	line-height: 14px;
	padding: 5px;
	margin: 0;
}
img.wp-smiley {
	padding: 0;
	border: 0 none;
	border-radius: 0;
}



