
/* = sidebar.css
--------------------------------------------------- */

/* = Sidebar General Rules
--------------------------------------------------- */
.sidebar .widget {
	padding: 0 0 3em 0;
	margin: 0;
	color: #9d9d9d;
}

.sidebar .widget .widget-title {
	display: block;
	margin: 0 0 0.5em 0;
	font-family: 'Podkova', sans-serif;
	color: #333;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}
.sidebar .widget ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sidebar .widget ul li {
	margin: 0 0 1.5em 0;
	padding: 0;
}

#secondary-full .widget {
	width: 290px;
	margin: 0 40px 0 0;
	float: left;
}
