
#fwa a {
	color: #333;
	text-decoration: none;
}
#fwa a:hover {
	text-decoration: underline;
}
#fwa .fwa-bar {
	float: left;
	margin: 0 85px 0 0;
	width: 170px;
}
#fwa #fwa-3 {
	width: 440px;
	margin: 0;
}
#fwa .widget-title {
	display: block;
	padding: 0;
	margin: 0 0 10px 0;
	font: normal 18px/24px 'Podkova', serif;
	color: #333;
	text-transform: uppercase;
}
#fwa .widget ul {
	display: block;
	margin: 0;
	padding: 0;
}
#fwa .widget li {
	display: block;
	margin: 0;
	padding: 5px 10px 5px 20px;
	border-bottom: 1px dotted #838383;
	background: transparent url('../images/bullet-list-item-fwa.png') 5px 9px no-repeat;
}

#fwa .widget_recent_entries ul {
	border: 0 none;
}
#fwa .widget_recent_entries ul li {
	border: 0 none;
	background: 0 none;
	padding: 0;
	margin: 0 16px 0 0;
	float: left;
}
#fwa .widget_recent_entries ul li + li + li {
	margin: 0;
}
#fwa .widget_recent_entries a {
	display: block;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
#fwa .widget_recent_entries img {
	padding: 8px;
	display: block;
	width: 120px;
	height: 104px;
	background: #fff none;
}
