
.widget_search label {
	display: none;
}
.widget_search input {
	border: 1px solid #33a6b2;
	border-radius: 5px;
	margin: 0;
	padding: 8px 4px;
	width: 248px;
	color: #000;
}
.widget_search input:focus {
	color: #333;
	border: 1px solid #666;
}
.widget_search button {
	display: none;
}

/** Popular Posts **/
.popular-posts ul li {
	min-height: 67px;
}
.popular-posts img {
	float: left;
	padding: 0;
	border: 0 none;
	width: 77px;
	height: 67px;
}
.popular-posts a span.wpp-post-title {
	display: block;
	margin: 0 0 0.5em 87px;
	font: normal 14px/18px 'Podkova', sans-serif;
	color: #333;
}
.popular-posts a:hover span.wpp-post-title {
	color: #333;
	text-decoration: underline;
}
.popular-posts span.post-stats {
	display: block;
	margin: 0 0 0 87px;
	font-weight: normal;
	font: normal 12px/14px 'Arial', sans-serif;
	text-transform: none;
	color: #999;
}
.popular-posts p {
	padding: 10px;
}

/** Advertisements **/
.widget_ads .ads-area {
}
.widget_ads .ads {
	display: block;
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 10px 10px 0;
}
.widget_ads .ads-2,
.widget_ads .ads-4 {
	margin-right: 0;
}
.widget_ads .ads-3,
.widget_ads .ads-4 {
	margin-bottom: 0;
}
.widget_ads .ads img {
	border: 0 none;
	padding: 0;
	margin: 0;
}

.widget_recent_comments .meta {
	font-size: 10px;
	line-height: 14px;
	color: #5fa1b9;
	margin: 0 0 0.3em 0;
}

.widget_tweets .padd-twitter-timestamp {
	display: block;
}
.widget_tweets .follow {
	padding-left: 29px;
	line-height: 16px;
	text-transform: uppercase;
	background: transparent url('../images/bg-follow-us.png') 0 0 no-repeat;
}


/** Calendar **/
table#wp-calendar {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
table#wp-calendar caption {
	font-weight: bold;
	padding: 5px;
}
table#wp-calendar th,
table#wp-calendar td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 5px;
}
table#wp-calendar td#prev {
	border-left: 0 none;
	border-right: 0 none;
}
table#wp-calendar td.pad {
	border-left: 0 none;
	border-right: 0 none;
}